<%= render partial: "shared/sidenav", locals: {sidenav: @profile}  %>
<%= render partial: "shared/innernav" %>
<!-- <div class="col-md-8 inner-nav"> -->
<%# @repos.each do |repo| %>
  <!-- <div class="card card-block"> -->
    <%#= repo.name %>
  <!-- </div> -->
  <%# end  %>
<!-- </div> -->
