<div class="col-md-8 repo-nav">
<nav class="navbar repo-nav">
  <ul class="nav navbar-nav">
    <form class="form-inline float-xs-left">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-success btn-sm" type="submit"> <%= image_tag('repo.svg') %> New</button>
    </form>
  </ul>
</nav><hr/>
</div>
