/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: sans-serif;
   display: block;
 }

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.nav-bar {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.nav-link-top:hover {
  color: #4078c0 !important;
}

.nav-link {
  color: grey;
}

.nav-link:hover {
  color: black !important;
}

.nav_pic {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.form-control, .form-inline {
  margin-top: 3px;
  max-height: 25px;
  vertical-align: middle;
  font-weight: lighter;
}

.side-nav {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 20;
  right: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  z-index: 1000;
}

.side-nav-words {
  font-size: 75%;
}
.repo-name {
  color: #4078c0;
  font-weight: bold;
}

.repo-details {
  font-size: 75%;
  color: grey;
  font-family: sans-serif;
}

.repo-list-item {
  padding-left: 30px;
  padding-right: 100px;
}


.repo-nav, .inner-nav {
  max-width: 750px;
}

/*.pr-3 {
  padding-right: 16px !important;
}

.float-left {
  float: left !important;
}

.col-3 {
  width: 25%;
}

* {
  box-sizing: border-box;
}*/
